//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Tue 08 10 15:12:01 2021

IO_LOC "led" 10;
IO_PORT "led" PULL_MODE=NONE DRIVE=8;

IO_LOC "antenna" 13;
IO_PORT "antenna" PULL_MODE=NONE DRIVE=8;

IO_LOC "uart_rxd" 19;
IO_PORT "uart_rxd" PULL_MODE=NONE;

IO_LOC "SYS_CLK" 45;
IO_PORT "SYS_CLK" PULL_MODE=NONE;

IO_LOC "KEY1" 14;
IO_PORT "KEY1" PULL_MODE=UP;

IO_LOC "KEY2" 15;
IO_PORT "KEY2" PULL_MODE=UP;